<div class="container p-5">
    <div class="card">
        <div class="card-header">
            Sign in
        </div>
        <div class="card-body">
            <div class="mb-3">
                <label for="username" class="form-label">User</label>
                <input type="email" class="form-control" id="username" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password">
            </div>

            <a href="#" class="btn btn-primary">Login</a>
        </div>
    </div>
</div>